# Copy this file to .env or .env.local and adjust the values for your environment.
# Values defined in .env.local override those in .env.

# Password for admin functionality
ADMIN_PASSWORD=topsecret
# Secret for signing cookies
COOKIE_SECRET=kruemelmonster-is-comming
# Port of server
PORT=3000
# Relative path to the prebuilt Angular app that should be served by the backend.
PATH_TO_FRONTEND=../frontend/dist/frontend/browser
# Location of the SQLite database file.
PATH_TO_DB=/usr/src/app/storage/sqlite/app.db
# Storage location for user uploaded images
PATH_TO_IMAGE_DIR=/usr/src/app/storage/images
