<section class="page-container">
	<h1 i18n="@@impressum.title" class="page-title">Impressum - Legal notice</h1>
	
	<p i18n="@@impressum.intro.p1">
		This Legal Notice complies with the German laws under § 5 DDG and § 55 RStV.
		This is a private, non-commercial passion project ("Liebhaberei" in German).
	</p>

	<p i18n="@@impressum.intro.p2">However, if you enjoy my work and want to fuel the next cup of coffee that keeps me going, your support is appreciated.</p>

	<p>
		<a href="https://buymeacoffee.com/shaman.apprentice" target="_blank" class="bmc-btn" style="display: flex; align-items: center;">
			<img src="bmc-button.svg" alt="Buy me a coffee" width="142" height="40">
		</a>
	</p>

	<h2 id="contact" i18n="@@impressum.contact">Contact</h2>
	<pre>
Torsten Severing
Torsten@Severing.de
Küppersgarten 23
53229 Bonn
Germany
	</pre>

</section>
